.calendar-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-container h1 {
    margin-top: 20px;
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

.nav-button {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #4CAF50;
    color: #fff;
}

.current-month {
    font-size: 1.5em;
    font-weight: bold;
}

.calendar-container table {
    border-collapse: collapse;
    width: 80%;
}

.calendar-container th {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.calendar-container td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 0;
    vertical-align: top;
    height: 100px;
    width: calc(100% / 7);
}

.calendar-container td a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: color 0.3s, background-color 0.3s; /* Dodatkowy efekt przejścia koloru i tła */
}

.calendar-container td a:hover {
    color: #007BFF; /* Jasniejszy niebieski */
    background-color: transparent; /* Usunięcie zmiany tła */
}

.calendar-container td ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
}

.calendar-container td ul li {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    font-size: 0.9em;
}

.calendar-container td ul li:hover {
    background-color: #f1f1f1;
}

.calendar-container div {
    margin-top: 20px;
}

.calendar-container div a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

.calendar-container div a:hover {
    color: #388E3C;
}

.event-row {
    background-color: #f4f4f4;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
}

.calendar-container .event-row li {
    background-color: #E3F2FD;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    font-size: 0.9em;
    width: calc(100% - 22px);
    margin-left: 0;
}

.event-row li:hover {
    background-color: #f4f4f4;
}

.details-link {
    text-decoration: none;
    color: #4CAF50;
    transition: color 0.3s, background-color 0.3s;
}

.details-link:hover {
    color: #007BFF; /* Jasniejszy niebieski */
    background-color: transparent; /* Usunięcie zmiany tła */
}
