/* organizator.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

.organizator-container {
    width: 50%; /* Szerokość kontenera */
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.organizator-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.organizator-form input[type="text"], .organizator-form input[type="submit"] {
    width: 80%; /* Zmniejszona szerokość inputów */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Uwzględnij padding w szerokości inputa */
}

.organizator-form input[type="submit"] {
    width: auto; /* Przywrócenie automatycznej szerokości dla przycisku */
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.organizator-form input[type="submit"]:hover {
    background-color: #45a049;
}

.organizator-form label {
    width: 80%; /* Dopasowanie szerokości etykiety do inputów */
    margin-top: 10px;
    font-weight: bold;
}

.organizator-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.organizator-table th, .organizator-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.organizator-table th {
    background-color: #f4f4f4;
}

.edit-button, .delete-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .delete-button:hover {
    background-color: #45a049;
}
