{% include 'header.html' %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'organizator.css' %}">
</head>
{% block content %}
    <div class="organizator-container">
        <form method="POST" class="organizator-form">
            {% csrf_token %}
            <label for="name">Organizator</label>
            <input type="text" id="name" name="name" placeholder="">
            
            <label for="contact">Kontakt</label>
            <input type="text" id="contact" name="contact" placeholder="">
            
            <label for="description">Notatka</label>
            <input type="text" id="description" name="description" placeholder="">
            
            <input type="submit" value="Zapisz">
        </form>
    </div>
{% endblock %}
