{% include 'header.html' %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'songedit.css' %}">
</head>
{% block content %}
    <div class="song-container2">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Utwór:</label>
            <input type="text" name="name" id="id_name" placeholder="Nazwa utworu">
        </div><br>
        <div class="form-group">
            <label for="id_composer">Kompozytor:</label>
            <input type="text" name="composer" id="id_composer" placeholder="Kompozytor">
        </div><br>
        <button type="submit" class="edit-button">Zapisz</button>
        <a href="{% url 'song_list' %}" class="edit-button">Anuluj</a>
    </form>
    </div>
{% endblock %}
