{% include 'header.html' %}
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lista wydarzeń</title>
        <link rel="stylesheet" type="text/css" href="{% static 'eventlist.css' %}">
    </head>
    <body>
        <div class="content">
            <form method="GET" class="search-form">
                <div class="search-inputs">
                    <label for="id_date_start">Nazwa wydarzenia:</label>
                    <input type="text" name="event_name" placeholder="Nazwa wydarzenia" value="{{ request.GET.event_name }}">
                    
                </div>
                <div class="search-inputs">
                    <label for="id_date_start">Data rozpoczęcia:</label>
                    <input type="date" name="date_start" id="id_date_start" value="{{ request.GET.date_start }}">
                    <button type="submit" class="search-button">Szukaj</button>
                </div>
            </form>
            <div class="event-list">
                {% for event in events %}
                    <div class="event-item">
                        <div class="event-header">
                            <h3>{{ event.event_name }}</h3>
                            <p>Rozpoczęcie: {{ event.date_start }}</p>
                        </div>
                        <div class="event-description">
                            <p>{{ event.description }}</p>
                            <a href="{% url 'event_details' event.id %}" class="details-link">Szczegóły</a>
                        </div>
                    </div>
                {% empty %}
                    <p>Brak wydarzeń do wyświetlenia.</p>
                {% endfor %}
            </div>
        </div>
    </body>
    </html>
{% endblock %}
