{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

<script src="{% static 'script.js' %}"></script>

<ul id="navbar">
    <li><a class="active" href="{% url 'home' %}">Home</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'create_event' %}">Dodaj wydarzenie</a></li>
        <li><a href="{% url 'add_song' %}">Dodaj utwór</a></li>
        <li><a href="{% url 'song_list' %}">Utwory</a></li>
        <li><a href="{% url 'add_organizator' %}">Dodaj organizatora</a></li>
        <li><a href="{% url 'organizator_list' %}">Organizatorzy</a></li>
    {% endif %}
    {% if user.is_authenticated %}
        <li style="float:right"><a href="{% url 'logout' %}">Wyloguj</a></li>
    {% else %}
        <li style="float:right"><a href="{% url 'register' %}">Register</a></li>
        <li style="float:right"><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    <li style="float:right"><a href="{% url 'home' %}">About</a></li>
</ul>

</body>
</html>
