{% include 'header.html' %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'song.css' %}">
</head>
{% block content %}
    <div class="song-container">
        <form method="GET" class="search-form">
            <input type="text" name="q" placeholder="Szukaj utworów...">
            <button type="submit" class="search-button">Szukaj</button>
        </form>
        <table class="song-table">
            <thead>
                <tr>
                    <th>Utwór</th>
                    <th>Kompozytor</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr>
                    <td>{{ song.name }}</td>
                    <td>{{ song.composer }}</td>
                    <td>
                        <div class="action-buttons">
                            <a href="{% url 'edit_song' song.id %}" class="edit-button">Edytuj</a>
                            <a href="{% url 'delete_song' song.id %}" class="edit-button">Usuń</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="action-buttons">
            <a href="{% url 'add_song' %}" class="edit-button">Dodaj utwór</a>
        </div>
    </div>
{% endblock %}
